[class*="span"] {
  margin: 0px !important;
  padding: 0px 10px; }

.article-title {
  display: none; }

a {
  text-decoration: none !important;
  cursor: pointer; }

.bg-mainColor {
  background-color: #912d25; }

.horizontalUl li {
  list-style: none;
  float: left; }

.horizontalUl li span, .horizontalUl li i {
  color: #EFE0DF; }

.horizontalUl li a {
  color: #ffffff;
  padding: 0px 12px;
  margin: 3px 0px; }

.centerTitleText {
  text-align: center;
  padding: 30px 0px; }
  .centerTitleText h3 {
    text-align: center;
    margin: 25px 0px 10px 0px;
    text-transform: uppercase; }
  .centerTitleText span {
    display: block;
    width: 50px;
    border-bottom: 1px solid #912d25;
    margin: auto; }

.button {
  text-align: center;
  text-decoration: none;
  padding: 5px 0px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none; }

.primaryButton {
  background-color: #912d25;
  color: #ffffff;
  border: 1px solid #AE756D; }
  .primaryButton:hover {
    color: #912d25 !important;
    border: 1px solid #912d25;
    background-color: #ffffff; }

.longButton {
  padding: 5px 30px; }

.thickButton {
  padding: 15px; }

.shadowLine {
  clear: both;
  background-image: url("../images/lineBottomShadow.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 20px; }

.bgCover {
  background-size: cover; }

.inputWithIcon {
  display: inline;
  overflow: auto;
  padding: 2px; }
  .inputWithIcon i {
    float: left;
    padding: 2px; }
  .inputWithIcon input {
    float: left;
    border: none;
    outline: none;
    color: #fff; }

.logo {
  max-width: 100%; }

#topPageIconsBar {
  float: right;
  background-image: url("../images/cornerImg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40px 100%; }
  #topPageIconsBar ul {
    float: left;
    margin: 4px 0px; }
    #topPageIconsBar ul a {
      color: #EFE0DF;
      border-right: 1px solid #ffffff;
      margin: 3px 0px; }
    #topPageIconsBar ul i {
      padding: 0px 10px; }
    #topPageIconsBar ul span {
      text-transform: uppercase;
      padding-right: 5px;
      letter-spacing: 3px;
      font-size: 12px;
      font-weight: normal; }
  #topPageIconsBar #headerSearchInput {
    background-color: #70211A;
    border-radius: 10px;
    float: left;
    margin: 5px 10px; }
    #topPageIconsBar #headerSearchInput i {
      color: #EFE0DF;
      font-size: 14px; }
    #topPageIconsBar #headerSearchInput input {
      width: 60px;
      background-color: transparent;
      height: 17px;
      margin: 0px !important;
      outline: none; }

#mainMenuContainer {
  padding: 20px 0px; }

.mainMenu > ul {
  margin: 0px;
  margin-top: 37px;
  float: right; }
  .mainMenu > ul ul.nav-child {
    width: 220px !important;
    margin: 0px;
    padding: 0px; }
    .mainMenu > ul ul.nav-child li {
      position: relative;
      display: block;
      margin: 1px 3%;
      width: 94%; }
      .mainMenu > ul ul.nav-child li ul.nav-child {
        position: absolute;
        left: 100%;
        top: 0px; }
    .mainMenu > ul ul.nav-child span, .mainMenu > ul ul.nav-child a {
      font-size: 10px !important;
      padding: 3px 0px;
      margin: 0px 4px; }
  .mainMenu > ul li {
    cursor: pointer;
    margin: 0px;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; }
    .mainMenu > ul li a, .mainMenu > ul li span {
      color: #595959;
      display: block;
      font-size: 10pt !important;
      margin: 0px; }
    .mainMenu > ul li:hover, .mainMenu > ul li:hover > a, .mainMenu > ul li:hover > span {
      background-color: #912d25;
      color: #ffffff; }

#pricesLine {
  background-color: #32302f; }
  #pricesLine .oneSymbolPrice {
    float: left;
    padding: 3px; }
    #pricesLine .oneSymbolPrice i.up {
      color: green; }
    #pricesLine .oneSymbolPrice i.down {
      color: red; }
    #pricesLine .oneSymbolPrice label {
      color: #c7462e;
      margin: 0px; }
    #pricesLine .oneSymbolPrice span {
      color: #ffffff; }

#openAccountButtonsContainer {
  margin-top: 15px;
  margin-bottom: 50px;
  padding-left: 10%; }
  #openAccountButtonsContainer .button {
    width: 40%; }

#mapGroupContainer {
  display: block;
  background-color: #F2F2F2; }
  #mapGroupContainer #leftImgContainer img {
    max-width: 100%; }
  #mapGroupContainer .oneGroup {
    padding: 5px; }
    #mapGroupContainer .oneGroup span {
      float: left;
      margin: 0px 10px 10px 0px;
      display: block;
      font-size: 40px; }
      #mapGroupContainer .oneGroup span img {
        max-width: 70px;
        height: auto; }
    #mapGroupContainer .oneGroup h6 {
      color: #912d25; }
    #mapGroupContainer .oneGroup p {
      margin: 5px 0px;
      padding-left: 50px;
      font-size: 12px; }

.oneDescriptionWithButton img {
  float: left;
  width: 80px; }
.oneDescriptionWithButton h3 {
  padding-top: 20px;
  font-size: 20pt; }
.oneDescriptionWithButton p {
  clear: both;
  font-size: 12pt; }
.oneDescriptionWithButton a {
  display: block;
  width: 150px;
  margin: auto; }

#softwareBanner {
  margin: 50px 0px;
  margin-bottom: 50px;
  background-image: url("../images/platformsBackground.png");
  height: 267px;
  padding-top: 50px; }
  #softwareBanner .innerContainer {
    background-image: url(../images/computerPlatforms.png);
    background-size: 451px 270px;
    background-position: right 40px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 20px;
    padding-top: 70px;
    height: 270px;
    margin-bottom: -80px;
    padding-right: 405px; }
    #softwareBanner .innerContainer h4 {
      color: #43D7F1;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 4px; }
    #softwareBanner .innerContainer p {
      color: #F8F9FA; }
    #softwareBanner .innerContainer a.button {
      text-transform: uppercase;
      padding: 10px;
      color: #ffffff;
      margin: 10px; }
    #softwareBanner .innerContainer a.whiteButton {
      color: #717171;
      background-color: #D9D9D8;
      background: linear-gradient(to top, #D9D9D8, #FFFFFF); }
    #softwareBanner .innerContainer a.blueButton {
      background-color: #202D36;
      background: linear-gradient(to top, #202D36, #5F7B8C); }

.columnLabelsContainer {
  margin-top: 30px; }
  @media screen and (max-width: 1000px) {
    .columnLabelsContainer {
      display: none; } }
  .columnLabelsContainer .columnLabel {
    float: left; }
    .columnLabelsContainer .columnLabel .labelBorder {
      width: 80%;
      margin-left: 10%;
      border: 1px solid #000000;
      border-bottom: none;
      text-align: center;
      position: relative;
      height: 30px; }
    .columnLabelsContainer .columnLabel label {
      position: absolute;
      top: -20px;
      display: inline-block;
      background-color: #ffffff;
      padding: 3px 10px; }
  .columnLabelsContainer #leftLabel {
    width: 60%; }
    .columnLabelsContainer #leftLabel .labelBorder {
      width: 67%;
      margin-left: 16%; }
    .columnLabelsContainer #leftLabel label {
      left: 29%; }
  .columnLabelsContainer #rightLabel {
    width: 40%; }
    .columnLabelsContainer #rightLabel .labelBorder {
      width: 55%;
      margin-left: 25%; }
    .columnLabelsContainer #rightLabel label {
      left: 7%; }

.accountsTypesColumns .oneAccountTypeColumn {
  width: 18%;
  margin: 1%;
  float: left; }
  @media screen and (max-width: 1000px) {
    .accountsTypesColumns .oneAccountTypeColumn {
      width: 100%; } }
  .accountsTypesColumns .oneAccountTypeColumn .innerContainer {
    display: block;
    padding: 8%; }
    .accountsTypesColumns .oneAccountTypeColumn .innerContainer h3 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0px;
      padding-bottom: 15px;
      font-size: 18pt; }
    .accountsTypesColumns .oneAccountTypeColumn .innerContainer ul {
      padding-top: 20px;
      padding-left: 0px;
      list-style: none; }
    .accountsTypesColumns .oneAccountTypeColumn .innerContainer ul li {
      list-style: none;
      margin: 0px; }
    .accountsTypesColumns .oneAccountTypeColumn .innerContainer ul li:before {
      font: normal normal normal 10px/1 FontAwesome;
      content: "\f111";
      margin-right: 7px; }
    .accountsTypesColumns .oneAccountTypeColumn .innerContainer a {
      width: 100%; }
.accountsTypesColumns .oneAccountTypeColumn.white {
  background: linear-gradient(to top, #D9D9D8, #FFFFFF);
  border: 1px solid #BEBEBE;
  color: #6D6D6D; }
  .accountsTypesColumns .oneAccountTypeColumn.white h3 {
    border-bottom: 1px solid #BEBEBE; }
  .accountsTypesColumns .oneAccountTypeColumn.white ul li:before {
    color: #6D6D6D; }
.accountsTypesColumns .oneAccountTypeColumn.dark {
  background: #912d25;
  border: 1px solid #963B30;
  color: #ffffff; }
  .accountsTypesColumns .oneAccountTypeColumn.dark h3 {
    border-bottom: 1px solid #862A1F; }
  .accountsTypesColumns .oneAccountTypeColumn.dark ul {
    border-top: 1px solid #BB4637; }
  .accountsTypesColumns .oneAccountTypeColumn.dark ul li:before {
    color: #691E15; }

#paymentLine div {
  float: left;
  width: 10%;
  text-align: center; }
#paymentLine img {
  max-width: 100%; }

#bottomBoxesMenus {
  background-color: #303236; }
  #bottomBoxesMenus .container {
    padding-top: 20px;
    padding-bottom: 20px; }
  #bottomBoxesMenus .oneMenuBox h5 {
    border-bottom: 1px solid #6D6D6D;
    color: #912d25;
    margin-bottom: 0px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
  #bottomBoxesMenus .oneMenuBox ul {
    border-top: 1px solid #3C3F45;
    list-style: none;
    margin: 0px;
    padding: 0px;
    min-height: 120px; }
  #bottomBoxesMenus .oneMenuBox ul li, #bottomBoxesMenus .oneMenuBox ol li {
    list-style: none; }
  #bottomBoxesMenus .oneMenuBox ol {
    list-style: none;
    margin: 0px;
    margin-top: 10px;
    padding: 0px; }
  #bottomBoxesMenus .oneMenuBox ol li {
    float: left;
    width: 20%;
    text-align: center; }
  #bottomBoxesMenus .oneMenuBox a {
    display: block;
    padding: 3px;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px; }
  #bottomBoxesMenus .oneMenuBox a:hover {
    background-color: #202124; }

#bottomRow {
  text-align: center;
  color: #ffffff;
  background-color: #202124; }
  #bottomRow p {
    font-size: 10px;
    padding: 20px 0px 0px 0px;
    letter-spacing: 1px;
    text-align: justify;
    color: #A7A7A7; }
  #bottomRow b {
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 20px;
    display: block; }

.sliderAllContainer .oneSlide, .sliderSection .oneSlide {
  height: 459px;
  background-image: url("../images/sliderFirstBanner.png");
  background-size: cover; }
  .sliderAllContainer .oneSlide .oneSlideContent, .sliderSection .oneSlide .oneSlideContent {
    float: right;
    margin: 160px 130px 0px 0px;
    width: 467px; }
    .sliderAllContainer .oneSlide .oneSlideContent h3, .sliderSection .oneSlide .oneSlideContent h3 {
      background-color: #912d25;
      color: #ffffff;
      float: right;
      padding: 5px 10px;
      letter-spacing: 5px;
      font-weight: normal;
      font-size: 22px; }
    .sliderAllContainer .oneSlide .oneSlideContent div.listContanir, .sliderSection .oneSlide .oneSlideContent div.listContanir {
      float: left;
      padding: 20px 10px;
      overflow: auto;
      clear: both;
      width: 100%;
      background: linear-gradient(to left, #111111, transparent);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      .sliderAllContainer .oneSlide .oneSlideContent div.listContanir *, .sliderSection .oneSlide .oneSlideContent div.listContanir * {
        color: #A1A3A3; }
      .sliderAllContainer .oneSlide .oneSlideContent div.listContanir ul, .sliderSection .oneSlide .oneSlideContent div.listContanir ul {
        float: left;
        padding: 0px;
        width: 90%; }
        .sliderAllContainer .oneSlide .oneSlideContent div.listContanir ul li, .sliderSection .oneSlide .oneSlideContent div.listContanir ul li {
          list-style: none;
          width: 50%;
          font-size: 14px;
          float: left;
          text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
